@model Domain.Vehicle

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vehicle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Client.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-controller="quote" asp-action="create" asp-route-id="@Model.Id">New Quote</a> |
    <a asp-controller="quote" asp-action="index" asp-route-id="@Model.Id">View Quotes</a> |
    <a asp-controller="History" asp-action="index" asp-route-id="@Model.Id">View History</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
