@model serviceAssistants.Models.QuoteViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Quote.TechId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quote.TechId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quote.DateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quote.DateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quote.IsComplete)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quote.IsComplete)
        </dd>
        <dd>
            @if (Model.Services != null)
            {
                @foreach (var service in Model.Services)
                {
                    @service.PartName
                    @service.PartCost
                    @service.LaborRate
                }
            }

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quote.RepairCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quote.RepairCost)
        </dd>
    </dl>
</div>
<div>
    <a href="/Service/Create/@Model.Quote.Id">Add Service</a> |"
    <a asp-action="Edit" asp-route-id="@Model.Quote.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
